{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <section data-bs-version="5.1" class="form8 cid-teMR7a7reS" id="form8-n">
        <p></p>
        <p></p>
      <div class="container">
          <div class="mbr-section-head">
            <br>
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                  <strong>Cadastro de clientes</strong>
              </h3>  
          </div>
          <div class="row justify-content-center mt-4">
              <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    <div class="dragArea row">
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3">
                            {% csrf_token %} 
                            <form action="" class="as_p">
                                <div class="dragArea row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="nome">
                                        <input type="text" name="nome" maxlength="250" placeholder="Nome" data-form-field="nome" class="form-control" value="" id="id_nome">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="CPF:">
                                        <input type="number" name="cpf" step="any" placeholder="CPF" data-form-field="cpf" class="form-control" value="" id="id_cpf">
                                    </div>
                                    <div class="col-auto mbr-section-btn align-center">
                                        <button type="submit" class="btn btn-primary display-4">Cadastrar</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <br>
              </div>
          </div>
      </div>
    </section> 
{% endblock content %}