{% extends 'base.html' %}
{% block content %} 
<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Sistema Biblioteca</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Esse é um sistema de biblioteca, onde são feitas as operações básicas, cadastro de livros e clientes, alocação e devolução dos livros.</p>
                <div class="mbr-section-btn mt-3">
                    <a class="btn btn-success display-4" href="{% url 'cadastro_cliente' %}">Cadastrar cliente</a> 
                    <a class="btn btn-success-outline display-4" href="{% url 'cadastra_livros' %}">Cadastrar livro</a></div>
                    <a class="btn btn-success display-4" href="{% url 'cadastro_aluguel' %}">Cadastrar Aluguel</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}