<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<meta name="author" content="Wescley">
	<title>Biblioteca</title>
	{% load static %}
	<link href="{% static "css/style.css" %}" rel="stylesheet">
	<!--
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	-->
</head>

<body>
	<h1 class="apresentacao"><img alt="logo"
			src="https://png.pngtree.com/png-vector/20190307/ourmid/
			pngtree-vector-study-table-vector-icon-png-image_782805.jpg"
			height="50" width="50">Biblioteca 2022</h1>
	<p>
	<h2 align="center"> Selecione a função</h2>
	</p>
	<div class="diciplina" align="center">

		<a href="{% url 'cadastro_cliente' %}">
			<img src="https://st.depositphotos.com/1008768/4671/i/950/depositphotos_46719171-stock-photo-login-icon.jpg"
				alt="foto de wescley\" class="Fhoto\" height="80" width="80">
			<br>Cadastrar  cliente</a>

	</div>
	<div align="center">
		<a href="cadastra_livro/">
			<img src="https://st.depositphotos.com/1008768/4671/i/950/depositphotos_46719171-stock-photo-login-icon.jpg"
				alt="foto de wescley\" class="Fhoto\" height="80" width="80">
			<br>Cadastrar livro</a>
	</div>
	<div>
		<a href="{% url 'cadastro_aluguel' %}">Cadastrar Novo Aluguel de livro</a>
	</div>
	<div>
		<a href="{% url 'lista_livros' %}">Listar livros cadastrados</a>
		<a href="{% url 'lista_clientes' %}" type="button" class=".w3-btn">Mostrar clientes cadastrados</a> 
	</div>
	<footer id="rodape"><br>
		<P> Rodape da pagina</P>
	</footer>
</body>

</html>