{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <section data-bs-version="5.1" class="form8 cid-teMR7a7reS" id="form8-n">
        <p></p>
        <p></p>
      <div class="container">
          <div class="mbr-section-head">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                  <strong>Lista de livros</strong>
              </h3>  
          </div>
          <div class="row justify-content-center mt-4">
              <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    <div class="dragArea row">
                        <form>
                            <div >
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <th>NOME</th>
                                        <th>CPF</th>                
                                    </tr>
                                    {% for obj in clientes %}
                                    <tr>
                                        <td>{{ obj.nome }}</td>                        
                                        <td>{{ obj.cpf }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </form>
                    </div>
                    <br>
              </div>
          </div>
      </div>
    </section> 
{% endblock content %}